{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

        <h2>DASHBOARD</h2>
        <br>
        {% if current_user.is_authenticated %}
        <div class="card">
            <div class="card-header">
                {{ current_user.name }}
            </div>
            <div class="card-body">
              <p class="card-text">
                <div class="container">
                  <div class="row">
                    <div class="col-8">
                      <strong>Username:</strong> {{ current_user.username }} <br>
                      <strong>Email:</strong> {{ current_user.email }} <br>
                      <strong>Color:</strong> {{ current_user.color }} <br>
                      <strong>User ID:</strong> {{ current_user.id }} <br>
                      <strong>Joined date:</strong> {{ current_user.date_added }} <br>
                      <strong>A propos de l'auteur:</strong> {{ current_user.about_author }} <br>
                    </p>
                      <a href="{{ url_for('logout')}}" class="btn btn-outline-warning btn-sm">Déconnexion</a>
                      <a href="{{url_for('update',id = current_user.id )}}" class ="btn btn-outline-primary btn-sm">Modifier</a>
                      <a href="{{ url_for('delete',id=current_user.id) }}" class="btn btn-outline-danger btn-sm">Supprimer</a><br><br>
                    </div>
                    <div class="col-4">
                      <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profil pic" width="150" align="right">
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <br><br>
          <div class="card">
            <div class="card-header">
               Modifier votre profil
            </div>
            <div class="card-body">
              <form action="/dashboard" method="POST">
                {{ form.hidden_tag() }}
                {{form.name.label(class="form-label")}}
                {{form.name(class="form-control", value=user_to_update.name)}} <br>
    
                {{form.username.label(class="form-label")}}
                {{form.username(class="form-control", value=user_to_update.username)}} <br>
    
                {{form.email.label(class="form-label")}}
                {{form.email(class="form-control", value=user_to_update.email)}} <br>
    
                {{form.color.label(class="form-label")}}
                {{form.color(class="form-control", value=user_to_update.color)}} <br>
    
                <textarea name="about_author" class="form-control" rows="4">{{ user_to_update.about_author }}
                </textarea> <br>

                {{form.submit(class="btn btn-primary")}} 
            </form>
            </div>
          </div>

        {% endif %}

<br><br>

{% endblock %}